In [12]:
import matplotlib.pyplot as plt
import random
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import RobustScaler
from sklearn.ensemble import RandomForestClassifier

In [13]:
diamonds_train = pd.read_csv('diamonds_train_carat_clean.csv')
diamonds_train.head()

   city  cut  color  clarity  carat  depth  table  price
0     2    3      6        5   1.21   62.4   58.0   4268
1     3    4      4        5   0.32   63.0   57.0    505
2     4    0      3        4   0.71   65.5   55.0   2686
3     3    1      0        2   0.41   63.8   56.0    738
4     2    2      3        2   1.02   60.5   59.0   4882

In [14]:
rob_scaler = RobustScaler()
diamonds_train_scaled = diamonds_train.copy()  # Creamos una copia del dataframe original
diamonds_train_scaled.iloc[:, :-1] = rob_scaler.fit_transform(diamonds_train.iloc[:, :-1])
# Mostramos los primeros datos de los datos de prueba escalados
print("\nDiamonds Train Scaled:")
diamonds_train_scaled.head()

Diamonds Train Scaled:

       city  cut     color   clarity     carat     depth     table  price
0 -0.666667    1  1.000000  0.333333  0.857143  0.428571  0.333333   4268
1 -0.500000    2  0.333333  0.333333 -0.555556  0.857143  0.000000    505
2 -0.333333   -2  0.000000  0.000000  0.063492  2.642857 -0.666667   2686
3 -0.500000   -1 -1.000000 -0.666667 -0.412698  1.428571 -0.333333    738
4 -0.666667    0  0.000000 -0.666667  0.555556 -0.928571  0.666667   4882

In [15]:
diamonds_train = diamonds_train_scaled.copy()

In [16]:
from pathlib import Path
filepath = Path('../16.02. exports/diamonds_train_rob_scl_clean.csv', index=False)  
filepath.parent.mkdir(parents=True, exist_ok=True) 
diamonds_train.to_csv(filepath, index=False, encoding='utf-8')

In [17]:
diamonds_test = pd.read_csv('diamonds_test_carat_clean.csv')
diamonds_test.head()

   city  cut  color  clarity  carat  depth  table
0     0    4      2        2   0.79   62.7   60.0
1    10    2      6        4   1.20   61.0   57.0
2     3    3      4        2   1.57   62.2   61.0
3     3    4      2        2   0.90   63.8   54.0
4     0    4      2        4   0.50   62.9   58.0

In [18]:
# Escalamos los datos de prueba usando el scaler ya ajustado

diamonds_test_scaled = diamonds_test.copy()
diamonds_test_scaled.iloc[:, :] = rob_scaler.transform(diamonds_test)

# Mostramos los primeros datos de los datos de prueba escalados
print("\nDiamonds Test Scaled:")
diamonds_test_scaled.head()

Diamonds Test Scaled:

       city  cut     color   clarity     carat     depth     table
0 -1.000000    2 -0.333333 -0.666667  0.190476  0.642857  1.000000
1  0.666667    0  1.000000  0.000000  0.841270 -0.571429  0.000000
2 -0.500000    1  0.333333 -0.666667  1.428571  0.285714  1.333333
3 -0.500000    2 -0.333333 -0.666667  0.365079  1.428571 -1.000000
4 -1.000000    2 -0.333333  0.000000 -0.269841  0.785714  0.333333

In [19]:
diamonds_test = diamonds_test_scaled.copy()

In [20]:
from pathlib import Path
filepath = Path('../16.02. exports/diamonds_test_rob_scl_clean.csv', index=False)  
filepath.parent.mkdir(parents=True, exist_ok=True) 
diamonds_test.to_csv(filepath, index=False, encoding='utf-8')